.container {
  display: flex;
  align-items: center;
  justify-content: center;
}

section .card .image {
  height: 140px;
  width: 140px;
  border-radius: 50%;
  padding: 3px;
  background: blue;
}

.img-game {
  height: 100%;
  width: 100%;
  object-fit: cover;
  border-radius: 50%;
  border: 3px solid #fff;
}

.card {
  position: relative;
  background: #fff;
  border-radius: 20px;
  margin: 20px 0;
  width: 280px;
}

.card::before {
  content: "";
  position: absolute;
  height: 45%;
  width: 100%;
  background-color: blue;
  border-radius: 20px 20px 0 0;
}

.card,
.card-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 30px;
  position: relative;
  z-index: 100;
}

.card .media-icons {
  position: absolute;
  top: 15px;
  left: 210px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.card .media-icons i {
  color: white;
  opacity: 0.6;
  transition: all 0.3s ease;
  cursor: pointer;
}

.card .media-icons i:hover {
  opacity: 1;
}

.name-profession span {
  display: flex;
  justify-content: center;
}

.media-icons,
.name-profession {
  display: flex;
  flex-direction: column;
}

.name-profession .name {
  font-weight: bold;
  font-size: 20px;
}

.name-profession .profession {
  font-weight: 600;
}
